body {
margin:0;
font-size:95%;
font-family: sans-serif;
line-height:1.3;
}

@media only screen and (min-width: 600px) {
body {
font-size:100%;
line-height:1.5;
}
}

a:active    {
filter: brightness(106%);
text-decoration:none;
}

div {
border-radius: 4px;
}

#keyboard {
}

.key {
width:100%;
font-family:'tbkeys';
cursor:pointer;
font-size:130%;
font-weight:normal;
padding-left:1px;
padding-right:1px;
}

@media only screen and (max-width: 600px) {
.hide {
visibility: hidden;
}
}

@media only screen and (min-width: 600px) {
.key {
font-size:160%;
}
}

.radios {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
		}

.radio {
	display: inline-block;
	margin-right: 10px;
}

#canvas {
max-width:100%;
font-family:'damgab';
direction:rtl;
unicode-bidi: bidi-override;
}
	 
.canvasback {
  background-image: linear-gradient(to bottom, 
  	rgba(255, 255, 255, 1), 
  	rgba(255, 255, 255, 0), 
  	rgba(255, 255, 255, 1)),
  url('/image/transp.png');
  bbackground-size: cover;
  bbackground-position: center;
}

.gtext {
min-height:50px;
width: 600px;
max-width: 96%;
font-size:180%;
font-family:'tbldamga';
direction:rtl;
text-align:right;
border:0px solid #eee;
background:#fdfdfd;
}	

.space {
height:2em;
font-family:'arial';
}

.dots {
}

@media only screen and (max-width: 600px) {
.hideelement {
display:none;
}
}

.sfont {
}

/* Style for the radio buttons */
input[type="radio"] {
display: none;
}

.rs2 {
text-align:center;
cursor:pointer;
background-color:#eee;
border-radius: 3px;
}

.rs {
border:1px solid #888;
display:block;
text-align:center;
cursor:pointer;
border-radius: 4px;
}
	
.rby {color: #FFF;Background-color:#FFF;}
.rsi {color: #000;Background-color:#000;}
.rk {color: #C00;Background-color:#C00;}
.rsa {color: #FB0;Background-color:#FB0;}
.rl {color: #14A;Background-color:#14A;}
.rg {color: #1BE;Background-color:#1BE;}
.rb {color: #A25;Background-color:#A25;}
.ry {color: #096;Background-color:#096;}
.rm {color: #23F;Background-color:#23F;}
.rt {color: #F60;Background-color:#F60;}
.rp {color: #909;Background-color:#909;}
.rr {color: #953;Background-color:#953;}


.bs {
  background-image: url("/image/transp.png");
}

.bby {color: #FFF;Background-color:#FFF;}
.bsi {color: #000;Background-color:#000;}
.bk {color: #C00;Background-color:#C00;}
.bsa {color: #FB0;Background-color:#FB0;}
.bl {color: #14A;Background-color:#14A;}
.bg {color: #1BE;Background-color:#1BE;}
.bb {color: #A25;Background-color:#A25;}
.by {color: #096;Background-color:#096;}
.bm {color: #23F;Background-color:#23F;}
.bt {color: #F60;Background-color:#F60;}
.bp {color: #909;Background-color:#909;}
.br {color: #953;Background-color:#953;}

#latin {
width:99%;
padding:1%;
padding-right:0;
margin-bottom:1%;
font-family:Arial, sans-serif;
font-size:160%;
}

#textInput {
width:99%;
padding:1%;
padding-right:0;
margin-bottom:1%;
font-family:Arial, sans-serif;
font-size:120%;
}

.uu {
outline: none;
border:1px solid #ccc;
width:99%;
padding-left:0;
direction: rtl;
unicode-bidi: bidi-override;
text-align: right;
font-family: 'tbldamga';
font-size:2em;
}

.fonttable {
max-width:510px;
}

.keytable {
margin-top: 10px;
max-width:510px;
}

.keytable td {
padding:2px;
}

#plus, #minus {
width:96%;
height:50px;
font-size:130%;
border-radius: 4px;
padding-left:6px;
padding-right:6px;
}

.logo {
width:180px;
height:39px;
}

.turkbitig {
font-size: 160%;
font-weight: bold;
font-style: italic;
text-decoration: none;
}

img {
border-radius: 7px 7px 7px 7px;
max-width:100%;
}

code {
font-size:110%;
font-weight: bold;
}

h1, h2, h3 {
line-height: 1;
border-radius:3px;
margin-top:10px;
margin-bottom:10px;
padding: 6px;
padding-left: 1%;
}

h1 {
font-size:130%;
}

h2 {
font-size:120%;
}

h3 {
font-size:110%;
margin-bottom:5px;
}

h4 {
font-size:100%;
margin-bottom:5px;
}

p {
margin-top:8px;
}

iframe {
border:0;
max-width:100%
}

.alfabe_img {
width:518px;
}

.container {
max-width: 600px;
margin: 3em auto;
margin: 0 auto;
padding:5px;
}

.kbasli {
font-family: monotype;
}

.kbtur {
font-family: sans-serif;
}

table {
width:100%;
border-collapse:collapse;
}

@media only screen and (max-width: 600px) {
table {width:100%;}
}

th	{
padding: 0.5em;
font-weight:bold;
}

td {
vertical-align:top;
}

.pad td {
}

.mpad td {
}

.hikmetler td {
}

.table2 td {
padding:1px 3px 1px 3px;
}

.leftpad {
font-style: oblique;
padding-left: 1%;
width: 100%;
}

.header {
width: 100%;
margin: 0 auto;
}

.sitenav {
z-index: 99;
position:sticky;
top: 0;
padding-bottom: 8px;
}

.tabs {
position:sticky;
top: 0;
padding-top: 6px;
padding-left: 2%;
font-size:100%;
}

.tabs a {
white-space: nowrap;
border-radius: 4px 4px 0px 0px;
padding: 5px;
padding-bottom: 4px;
text-decoration: none;
}

.tabs a:hover {
}

.tabs a:active {
}

.tabs a.current {
padding-bottom: 6px;
}

.tabs a.parent {
padding-bottom: 6px;
}

.tabs a.bas {
text-transform: uppercase;
}

.nav {
font-size:100%;
padding-left:2%;
margin-top:1em;
}

@media only screen and (min-width: 600px) {
.nav {padding-left:6%;}
}

.nav a{
padding:5px;
white-space: nowrap;
border-radius: 4px;
text-decoration: none;
}

.nav a.this {
padding-bottom:5px;
}

.pulldown {
font-weight:bold;
padding:5px;
border-radius: 6px;
}

.irkbitig td {
}

.irkmobile td {
}

.zar {
padding-top:1em;
}

.ib {
width:38%;
}

.ibt {
padding-left:5px;
width:58%;
}

.ibtr {
padding-bottom:1em;
}

.osm-rtl {
padding-left:0.5em;
padding-right:0.5em;
}

.kb 	{
}

.kb td	{
padding:0.5em;
}

.damga_col {
min-width:35%;
}

.kbb {
font-weight:bold;
}

.u {
line-height:1.2;
font-size: 180%;
padding:0.5em;
width:36%;
direction:rtl;
unicode-bidi:bidi-override;
text-align:right;
font-family:tbldamga;
}

.t {
padding:0.5em;
width:30%;
}

.tr {
padding:0.5em;
width:30%;
}

.trans {
font-style: italic;
border-bottom:1px solid #CCC;
}

.yhh {
float:right;
max-width:30%;
}

.xlink {
font-size:100%;
font-weight:bold;
float:right;
margin-top:15px;
margin-right:5%;
}

hr {
height:2px;
border:0px;
}

ul, ol {
padding-left: 2em;
}

ul li {
list-style-type: square;
}

.d {
margin-top:1em;
font-weight:bold;
}

.mu  {
line-height:1.3;
direction:rtl;
unicode-bidi:bidi-override;
text-align:right;
font-family: tbldamga;
font-size: 180%;
padding-left:1%;
padding-right:1%;
padding-bottom:4px;
}

.mt {
line-height:1.3;
padding:0.5%;
padding-bottom:0.5em;
}

.mtr {
padding:0.5%;
line-height: 130%;
}

.irk {
border:1px solid #CCC; 
padding:0.5em;
direction:rtl;
unicode-bidi:bidi-override;
text-align:right;
font-family: 'irkbitig', 'turkic';
font-size:140%;
}

.iblat {
font-weight: bold;
font-family:monospace;
}

.turuk  {
direction:rtl;
unicode-bidi:bidi-override;
text-align:right;
font-family: 'tbldamga';
}

.damga  {
border:1px solid #999;
direction:rtl;
unicode-bidi:bidi-override;
font-family: 'tbldamga';
text-align:center;
border-radius:3px;
padding:5px;
}

.tamga  {
direction:rtl;
unicode-bidi:bidi-override;
font-family: 'tamga';
text-align:center;
border-radius:3px;
padding:5px;
border:1px solid #999;
}

#damga  {
direction:rtl;
unicode-bidi:bidi-override;
font-family: 'tamga';
text-align:center;
border-radius:3px;
border:1px solid #999;
padding:5px;
}

.menu {
font-size:200%;
text-decoration:none;
float:right;
}

button {
box-shadow: 1px 1px 2px #BBB;
font-size:100%;
cursor: pointer;
font-weight:bold;
border-radius: 4px;
}

button:active {
filter: brightness(110%);
box-shadow: 1px 1px 1px #BBB inset;
}

#accessbuttons button{
font-weight:bold;
font-size:120%;
padding:6px; 
padding-left:12px; 
padding-right:12px; 
margin:6px;
min-width:1.6em;
}

.content {
max-width:700px;
padding-left:2%;
padding-right:2%;
}

.contenti {
max-width:1200px;
padding-left:2%;
padding-right:2%;
}

@media only screen and (min-width: 600px) {
.content {
padding-left:6%;
}
.contenti {
padding-left:6%;
}
}

.footer {
font-size:100%;
margin-top:3em;
padding-left:10%;
padding-top:3em;
padding-bottom:3em;
}

#prevnext {
margin-left:6%;
font-weight:bold;
padding-top:0.5em;
}

.ar {
text-align:right;
width:40%;
font-size:110%;
}

.tur {
width:60%;
}

.lat {
font-size:90%;
}

.nr {
padding-right:8px;
font-size:80%;
color:#C00;
}

@media only screen and (max-width: 600px) {
.tur {
line-height:1.2;
}

.ar {
font-size:100%;
}

}

.kuran td {
border:1px solid #BBB;
padding:3px;
}

.audio {
width:100%;
}


@font-face {
  font-family: 'kuranfont';
  src: url('/kuran/kuran.woff2') format('woff2');
}

.ar {
  font-family: 'kuranfont';
}

.nr {
  font-family: 'kuranfont';
}

red {
	color:#C00;
}