html, body {
background-color:#FEFEFE;
color:#333;
}

a:link 	{
color:#369;
}

a:visited 	{
color:#369;
}

a:active 	{
color:#369;
}

a:hover {
}

code {
color: #900;
}

h1, h2, h3 {
background: linear-gradient(to right, #DDD, #FFF);
}

th	{
background-color:#ececec;
}

#canvas {
filter: none;
}

img {
filter: none;
}

.invert {
filter: none;
}
.pad td {
border:1px solid #eee;
}

.mpad td {
border:1px solid #eee;
}

.hikmetler td {
border:1px solid #eee;
}

.table2 td {
border:1px solid #eee;
}

.pagetitle{
color:#555;
}

.pagetitle a{
color:#555;
}

.leftpad {
}

.sitenav {
box-shadow: 3px 3px 5px #ccc;
background-color: #fcfcfc;
border-bottom:1px solid #f6f6f6;
}

.tabs {
font-weight:bold;
background-color: #E3E9f6;
background-image: linear-gradient(to right, #E3E9f6, #f9f9f9);
border-bottom:3px solid #58D;
border-image: linear-gradient(to right, #58D, #F9f9f9) 30;
}

.tabs a {
color: #555;
text-shadow: 1px 1px 2px #fff;
background-color: #ddd;
background: linear-gradient(#fff, #f0f0f0, #ddd);
border: 1px solid #999;
border-bottom:0;
}

.tabs a:hover {
}

.tabs a:active {
background: #f6f6f6;
box-shadow: inset 1px 2px 3px #ccc;
}

.tabs a.current {
color: #333;
border: 1px solid #36c;
border-bottom: 6px solid #fcfcfc;
background:#fcfcfc;
}

.tabs a.parent {
color: #333;
border: 1px solid #36c;
border-bottom: 6px solid #fcfcfc;
background:#f0f0f0;
background: linear-gradient(#fff, #ddd, #f9f9f9);
}


.nav {
font-weight:bold;
}

.nav a{
color:#555;
text-shadow: 1px 1px 2px #fff;
background-color: #ddd;
background: linear-gradient(#fff, #ccc);
border: 1px solid #999;
}

.nav a:active {
background: #fff;
box-shadow: inset 1px 1px 2px #ccc;
}

.nav a.this {
background: #fff;
border: 1px solid #666;
color:#000;
}

.irkbitig td {
border:1px dashed #cccccc;
}

.irkmobile td {
border:1px dashed #cccccc;
}

.ib {
width:38%;
}

.ibt {
width:58%;
}

.osm-rtl {
background-color:#ececec;
}

.kb td	{
border:1px dashed #cccccc;
}

.tr a {
color:#006600;
}

hr {
background: linear-gradient(to right, #CCC, #FFF);
}

.d {
color:#900;
}

.mu  {
color: #000;
background-color:#eee;
}

.uu {
background:#EEE;
}

#ltn {
background:#FEFEFE;
}

.kalin {
  background:#d5e5ff;
  }

.ince {
  background:#ffd5d5;
  }

.normal {
  background:#eee;
  }

.sil {
  background:#eee;
  color:red;
  }

.ae {
  background: linear-gradient(to right,
      #eee,
      #eee 0%,
      #d5e5ff 0%,
      #d5e5ff 50%,
      #ffd5d5 0%);
  }

.ii {
  background: linear-gradient(to right,
      #eee,
      #eee 0%,
      #d5e5ff 0%,
      #d5e5ff 50%,
      #ffd5d5 0%);
  }

.iblat {
color: #900;
}

.tamga  {
color: #222;
border:1px solid #999;
}

#damga  {
color: #222;
border:1px solid #999;
}

.turuk  {
color: #222;
}

button {
color:#333;
background-color:#EEE;
border:1px solid #999;
}

.footer {
background-color:#EEE;
}


#theme-toggle {
background-color:#666;
color:#FFF;
}
