html, body {
background-color:#F8F9FA;
color:#111;
}

.content {
background-color:#FFF;
}

a:link 	{
color:#039;
}

a:visited 	{
color:#039;
}

a:active 	{
color:#039;
}

a:hover {
color:#C66;
}

code {
color: #900;
}

h1, h2, h3 {
background: linear-gradient(to right, #DDD, #FFF);
}

th	{
background-color:#ececec;
}

#canvas {
filter: none;
}

img {
filter: none;
}

#isim {
  background-color:#FFF;
}

.invert {
filter: none;
}
.pad td {
border:1px solid #eee;
}

.mpad td {
border:1px solid #eee;
}

.hikmetler td {
border:1px solid #eee;
}

.table2 td {
border:1px solid #eee;
}

.sitenav {
box-shadow: 3px 3px 5px #999;
background-color: #EEE;
border-bottom:1px solid #f6f6f6;
}

.nnav {
font-weight:bold;
}

.nnav a{
color:#555;
text-shadow: 1px 1px 2px #fff;
background-color: #ddd;
background: linear-gradient(#fff, #ccc);
border: 1px solid #999;
}

.nnav a:active {
background: #fff;
box-shadow: inset 1px 1px 2px #ccc;
}

.nnav a.this {
background: #fff;
border: 1px solid #666;
color:#000;
}

.irk {
background:#EEE;
}

.irkbitig td {
border:1px dashed #cccccc;
}

.irkmobile td {
border:1px dashed #cccccc;
}

.ib {
width:38%;
}

.ibt {
width:58%;
}

.kb td	{
border:1px dashed #cccccc;
}

.tr a {
color:#006600;
}

hr {
background: linear-gradient(to right, #CCC, #FFF);
}

.d {
color:#900;
}

.mu  {
color: #000;
background-color:#eee;
}

.uu  {
color: #333;
background-color:#FCFCFC;
}

#latin {
background:#FEFEFE;
}

.kalin {
background:#d5e5ff;
}

.ince {
background:#ffd5d5;
}

.normal {
background:#eee;
}

.sil {
background:#eee;
color:red;
}

.ae {
background: linear-gradient(to right,
#eee,
#eee 0%,
#d5e5ff 0%,
#d5e5ff 50%,
#ffd5d5 0%);
}

.ii {
background: linear-gradient(to right,
#eee,
#eee 0%,
#d5e5ff 0%,
#d5e5ff 50%,
#ffd5d5 0%);
}

.iblat {
}

.turuk  {
}

button {
color:#333;
background-color:#EEE;
border:1px solid #999;
}

.footer {
background-color:#EEE;
}

.rs {
background-color:#EEE;
}

.logo {
filter: drop-shadow(1px 1px 0px #FFF);
}

.logo1 {
filter: drop-shadow(1px 1px 0px #FFF);
}

.path a{
background-color:#EEE;
color:#333;
}

.mt {
color:#900;
}

.mtr {
padding-bottom: 1em;
border-bottom: solid 2px #999;
}


red {color:#C00;}

.hover-highlight {background-color: #FF3;}
.clicked-highlight {background-color: #FD0;}
.hover-highlight.clicked-highlight {background-color: #FD0;}

