html, body {
  background-color:#26262C;
   color:#EEE;
   }

 
   body {
}

a:link 	{
	color:#EEE;
	}
	
a:visited 	{
	color:#EEE;
	}

a:active 	{
	color:#FFF;
	}
	
  a:hover {
	}

img {
}

code {
	color:#EEE;
}

h1 {
	font-size: 1.6em;
}

h1, h2, h3 {
}

p {
	}

iframe {
  border:0;
   max-width:100%
}

.container {
}

.kbasli {
  }

.kbtur {
  }

table {
	}


th	{
  background:#505050;
	}

td {
}

.pad td {
}

.mpad td {
}

.hikmetler td {
}

.table2 td {
  border: 1px solid #666;
}

  .pagetitle{
}

.pagetitle a{
}

.leftpad {
}

  .header {
}

 .sitenav {
  background-color: #333;
  border-bottom:1px solid #666;
}

  .tabs {
  background-color: #555;
  border-bottom:3px solid #999;
}

  .tabs a {
  background-color: #3f3f3f;
  border: 1px solid #CCC;
  border-bottom:0;
}

.tabs a:hover {
	}

.tabs a:active {
  background: #666;
  box-shadow: inset 1px 2px 3px #ccc;
	}

.tabs a.current {
  color: #EEE;
  border: 1px solid #CCC;
  border-bottom: 6px solid #333;
  background:#333;
  }

  .tabs a.parent {
  color: #EEE;
  border: 1px solid #CCC;
  border-bottom: 6px solid #333;
  background:#393939;
}

  .tabs a.bas {
}

.nav {
  }

.nav a{
	color:#EEE;
  background-color: #555;
  border: 1px solid #999;
	}

.nav a:active {
  background: #000;
  box-shadow: inset 1px 1px 2px #ccc;
	}

.nav a.this {
  background: #666;
  border: 1px solid #FFF;
	color:#FFF;
	}
 
   .pulldown {
  background-color:#fff;
  }

  .pulldown select {
  font-size:1.2em;
  }

   .irkbitig {
}

.irkmobile {
}

.irkbitig td {
	border:1px dashed #cccccc;
}

.irkmobile td {
	border:1px dashed #cccccc;
}

.zar {
	border-top:1px dashed #999;
	padding:1em;
	}

.ib {
	width:38%;
	}

  .irk {
	}

.ibt {
	width:58%;
	}

.ibtr {
	}
	

.osm-rtl {
	background-color:#ececec;
	}

.kb 	{
	}

.kb td	{
	border:1px dashed #cccccc;
  	}

.damga_col {
	}

.kbb {
	}

.u {
	}

 
   .t {
	}

.tr {
	}

.tr a {
	color:#006600;
	}

.trans {
	border-bottom:1px dashed;
	}

.yhh {
}

  hr {
  background: linear-gradient(to right, #666, #222);
}

  .d {
  margin-top:1em;
  font-size:14px;
  font-weight:bold;
	}

.mu  {
  background-color:#555;
  }

.mt {
	}

.mtr {
  }


.uu {
  background:#EEE;
}

#ltn {
  background:#EEE;
}

.rs {
  border:1px solid #999;
  background:#555;
}

.ince {
  background:#555;
}

.kalin {
  background:#888;
}

.normal {
  background:#333;
}

.sil {
  background:#444;
}

.ae, .ii {
    background: linear-gradient(to right,
      #555,
      #555 0%,
      #888 0%,
      #888 50%,
      #555 0%);
}

.irk {
 }

.iblat {
  }
 
.turuk  {
  color: #EEE;
}

.damga  {
 color: #EEE;
 background-color:#555; 
}

   .twitter {
}

button {
  color:#EEE;
  background-color:#666;
  }

  .content {
   }

.footer {
   background-color:#333;
   }
